---
import { BotonSesion, BarraDeBusqueda, ListaEntradas } from "../components"
import Main from "../layouts/main.astro"

const searchURL = new URL("http://localhost:4321/api/posts")
const search = Astro.url.searchParams.get("search") || ""
searchURL.searchParams.append("search", search)

const allPosts: any = await fetch(searchURL).then(async (res) => {
  if (res.ok) {
    return await res.json()
  }
  return []
})
---

<Main>
  <main class="flex flex-col gap-5 max-w-96">
    <div class="flex flex-col gap-3 pt-3">
      <BarraDeBusqueda defaultValue={search} client:load />
      <BotonSesion client:load />
    </div>
    <div class="flex-grow overflow-y-auto p-3 max-h-[80vh]">
      <ListaEntradas entradas={allPosts ?? []} client:load />
    </div>
  </main>
</Main>
