---
import { BotonSesion, BarraDeBusqueda, ListaEntradas } from "../components"
import Main from "../layouts/main.astro"
import { db, Posts, Users, or, like, eq, desc } from "astro:db"

const search = Astro.url.searchParams.get("search") || ""

const allPosts: any = await db
  .select()
  .from(Posts)
  .where(
    or(like(Posts.content, `%${search}%`), like(Posts.title, `%${search}%`))
  )
  .leftJoin(Users, eq(Posts.authorId, Users.id))
  .orderBy(desc(Posts.date))
  .then((response: any) => {
    return response.map(({ Posts, Users }: { Posts: any; Users: any }) => ({
      ...Posts,
      author: Users?.name,
    }))
  })
  .catch((e: any) => {
    console.error(`Error al consultar posts:  ${e?.message}`)
  })
---

<Main>
  <main class="w-96 flex flex-col gap-8">
    <BarraDeBusqueda defaultValue={search} client:load />
    <BotonSesion client:load />
    <div class="max-h-[70vh] overflow-y-auto p-3">
      <ListaEntradas entradas={allPosts ?? []} client:load />
    </div>
  </main>
</Main>
